
.navbar{
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo{
  width: 150px;
}

.navbar-menu{
  display: flex;
  list-style: none;
  gap: 25px;
  color: rgb(85, 85, 85);
  font-size: large;
}

.navbar-right{
  display: flex;
  gap: 40px;
  align-items: center;
}

.navbar button{
  background: transparent;
  border: 1px solid tomato;
  font-size: small;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(85, 85, 85);
  transition: 0.2s;
}

.active{
  color: tomato;
  transform: scale(1.1);
  transition: 0.2s;
}

.navbar button:hover{
  background-color: rgb(252, 235, 235);
}

.navbar-search-icon{
  position: relative;
}

.navbar-search-icon .dot{
  position: absolute;
  min-height: 10px;
  min-width: 10px;
  background-color: tomato;
  border-radius: 50%;
  top: -5px;
  right: -5px;
}


@media (max-width: 1050px){
  .logo{
    scale: 0.8;
  }

  .navbar-menu{
    gap: 15px;
    font-size: medium;
    margin: 0 10px;
  }

  .navbar img{
    scale: 0.7;
  }

  .navbar button{
    scale: 0.7;
  }
}

@media (max-width: 950px){
  .logo{
    scale: 0.8;
  }

  .navbar-menu{
    display: none;
  }

  .navbar img{
    scale: 1;
  }

  .navbar button{
    scale: 1;
  }
}


@media (max-width: 600px){
  .navbar-menu{
    display: none;
  }

  .navbar img{
    scale: 0.7;
  }

  .navbar button{
    scale: 0.5;
    width: 80px;
  }

  .navbar{
    padding-left: 0;
    gap: 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  .navbar-right{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 0px;
    scale: 0.9;
  }
}

@media (max-width:450px){
  .navbar img{
    width: 20px;
  }
}