.food-item{
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(15, 15, 15);
  transition: 0.3s;
  animation: fadeIn 1s;
}

.food-item-image{
  width: 70%;
  margin: 10px ;
  border-radius: 15px 15px 0 0;
}

.food-item-info{
  margin: 15px;
  color: rgb(66, 66, 66);
}

.food-item-name-rating{
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.food-item-name-rating p{
  font-size: 20px;
  font-weight: 500;
}

.food-item-name-rating img{
  width: 70px;
}

.food-item-description{
  color: rgb(116, 116, 116);
}

.food-item-price{
  font-size: 22px;
  font-weight: 600;
  color: tomato;
  margin: 10px 0;
}

.food-item-image-container{
  position: relative;
}

.food-item-counter{
  position: absolute;
  bottom: 150px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
  
  p{
    font-size: medium;
  }
  
  
  img{
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
}

.food-item-counter-initial{
  position: absolute;
  bottom: 130px;
  right: 5px;
  scale: 0.5;
  cursor: pointer;
}
